.about {
    &__top {
        padding-top: 100px;
        padding-bottom: 130px;
    }
    &__title {
        padding-bottom: 60px;
        margin-bottom: 20px;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 40px;
            height: 4px;
            background-color: $green;
        }
    }
    &__text {
        max-width: 685px;
        &:first-of-type {
            margin-bottom: 40px;
        }
    }
}
