html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
}

body {
    min-width: 320px;
    position: relative;
    counter-reset: stages;
}

strong {
    font-weight: 700;
}

button {
    font-family: 'Open Sans';
    font-weight: 600;
    cursor: pointer;
    border: none;
    background-color: transparent;

    &:focus {
        outline: none;
    }
}

img {
    max-width: 100%;
}

h1.title {
    color: $blue;
    font-size: 56px;
    font-weight: 900;
}

h2.title {
    color: $blue;
    font-size: 65px;
    font-weight: 900;
}

.main {
    overflow-x: hidden;
}

.container {
    max-width: 955px;
    margin: 0 auto;
    position: relative;
}

.subtitle {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.text {
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
}

.button-basic {
    padding: 27px 47px 25px;
    border-radius: 35px;
    font-weight: 500;
    font-size: 18px;
    transition: .1s linear;

}

.button--green {
    background-color: $green;
    &:hover {
        background-color: #b5f022;
    }
}

.button--blue {
    background-color: $blue;
    color: #fff;
    &:hover {
        background-color: #2358b5;
    }
}

.order-block {
    padding: 90px 0 80px;
    display: flex;
    justify-content: center;
}
